<a href="https://colab.research.google.com/github/KODURISRIHARI/innomatics_uber/blob/main/index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
import numpy as np
import pandas as pd
import sklearn

In [81]:
df = pd.read_csv('/content/uber_rides_data.xlsx - sample_train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [82]:
df.describe()

,ride_id,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,2.000000e+05,200000.000000,200000.000000,200000.000000,199999.000000,199999.000000,200000.000000
mean,2.771250e+07,11.359955,-72.527638,39.935885,-72.525292,39.923890,1.684535
std,1.601382e+07,9.901776,11.437787,7.720539,13.117408,6.794829,1.385997
min,1.000000e+00,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,1.382535e+07,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000
50%,2.774550e+07,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000
75%,4.155530e+07,12.500000,-73.967153,40.767158,-73.963659,40.768001,2.000000
max,5.542357e+07,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000

In [83]:
df['fare_amount'].isna().sum()

0

In [84]:
df['fare_amount'].dropna()

0          7.5
1          7.7
2         12.9
3          5.3
4         16.0
          ...
199995     3.0
199996     7.5
199997    30.9
199998    14.5
199999    14.1
Name: fare_amount, Length: 200000, dtype: float64

In [85]:
s=0
for i in df.fare_amount:
  s=s+1

print(s)

le =len(df['fare_amount'])
print(le)
avrg =s//le
avrg

200000
200000

1

In [86]:
df['fare_amount'].dropna().describe()

count    200000.000000
mean         11.359955
std           9.901776
min         -52.000000
25%           6.000000
50%           8.500000
75%          12.500000
max         499.000000
Name: fare_amount, dtype: float64

In [87]:
df['dropoff_longitude'].isna().sum()

1

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [89]:
df[['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude']].describe()

       pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude
count     200000.000000    200000.000000      199999.000000     199999.000000
mean         -72.527638        39.935885         -72.525292         39.923890
std           11.437787         7.720539          13.117408          6.794829
min        -1340.648410       -74.015515       -3356.666300       -881.985513
25%          -73.992065        40.734796         -73.991407         40.733823
50%          -73.981823        40.752592         -73.980093         40.753042
75%          -73.967153        40.767158         -73.963659         40.768001
max           57.418457      1644.421482        1153.572603        872.697628

In [90]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [91]:
df.describe()

,ride_id,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,2.000000e+05,200000.000000,200000.000000,200000.000000,199999.000000,199999.000000,200000.000000
mean,2.771250e+07,11.359955,-72.527638,39.935885,-72.525292,39.923890,1.684535
std,1.601382e+07,9.901776,11.437787,7.720539,13.117408,6.794829,1.385997
min,1.000000e+00,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,1.382535e+07,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000
50%,2.774550e+07,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000
75%,4.155530e+07,12.500000,-73.967153,40.767158,-73.963659,40.768001,2.000000
max,5.542357e+07,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000

What is the haversine distance between pickup and dropoff location for the costliest ride?

In [92]:
#0.00077

In [93]:
pd.to_datetime(df['pickup_datetime'])

0        2015-05-07 19:52:06+00:00
1        2009-07-17 20:04:56+00:00
2        2009-08-24 21:45:00+00:00
3        2009-06-26 08:22:21+00:00
4        2014-08-28 17:47:00+00:00
                    ...
199995   2012-10-28 10:49:00+00:00
199996   2014-03-14 01:09:00+00:00
199997   2009-06-29 00:42:00+00:00
199998   2015-05-20 14:56:25+00:00
199999   2010-05-15 04:08:00+00:00
Name: pickup_datetime, Length: 200000, dtype: datetime64[ns, UTC]

In [94]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [96]:
average_fare = df['fare_amount'].mean()
average_fare

11.359955250000002

What is the average fare amount?
*

In [97]:
average_fare = df['fare_amount'].mean()
average_fare

11.359955250000002

Calculate distance between each pickup and dropoff points using Haversine formula.
What is the median haversine distance between pickup and dropoff location according to the given dataset?
*
Read about Haversine Distance here: https://en.wikipedia.org/wiki/Haversine_formula

In [98]:
import numpy as np

def haversine(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    r = 6371  # Radius of Earth in kilometers
    distance = r * c  # Distance in kilometers

    return distance

# Calculate the Haversine distances and add them as a new column to the DataFrame
df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

# Calculate the median Haversine distance
median_haversine_distance = df['haversine_distance'].median()

In [99]:
median_haversine_distance

2.1209923961833708

What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [103]:
max_haversine_distance = df['haversine_distance'].max()
max_haversine_distance

16409.239135313168

How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

In [104]:
rides_with_zero_distance = df[df['haversine_distance'] == 0.0]
num_rides_with_zero_distance = len(rides_with_zero_distance)

In [105]:
num_rides_with_zero_distance

5632

What is the mean 'fare_amount' for rides with 0 haversine distance?

In [107]:
mean_fare_for_zero_distance = rides_with_zero_distance['fare_amount'].mean()
mean_fare_for_zero_distance

11.585317826704546

What is the maximum 'fare_amount' for a ride?

In [108]:
d = df['fare_amount'].max()
d

499.0

In [109]:
max_fare_amount = df['fare_amount'].max()
max_fare_amount

499.0

What is the haversine distance between pickup and dropoff location for the costliest ride?

In [110]:
# Find the ride with the maximum 'fare_amount'
costliest_ride = df[df['fare_amount'] == max_fare_amount].iloc[0]

# Calculate the Haversine distance for the costliest ride
haversine_distance_costliest_ride = haversine(costliest_ride['pickup_latitude'], costliest_ride['pickup_longitude'], costliest_ride['dropoff_latitude'], costliest_ride['dropoff_longitude'])

In [112]:
haversine_distance_costliest_ride

0.0007899213191009993

In [113]:
formatted_distance = "{:.8f}".format(haversine_distance_costliest_ride)
formatted_distance

'0.00078992'

How many rides were recorded in the year 2014?

In [118]:
# Assuming 'pickup_datetime' is already converted to a datetime data type
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
rides_in_2014 = df[df['pickup_datetime'].df.value.year == '2014']
num_rides_in_2014 = len(rides_in_2014)
num_rides_in_2014

AttributeError: ignored

In [119]:
# Assuming 'pickup_datetime' is already converted to a datetime data type
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
rides_in_q1_2014 = df[(df['pickup_datetime'].dt.year == 2014) & (df['pickup_datetime'].dt.month <= 3)]
num_rides_in_q1_2014 = len(rides_in_q1_2014)
num_rides_in_q1_2014

7687

In [121]:
# Assuming 'pickup_datetime' is already converted to a datetime data type
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
rides_in_september_2010 = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]

# Calculate the day of the week for each ride and find the day with the maximum rides
most_common_day = rides_in_september_2010['pickup_datetime'].dt.day_name().mode().iloc[0]
most_common_day

'Thursday'

In [123]:
import pandas as pd

# Assuming you have a DataFrame 'df' containing your data
# Convert 'pickup_datetime' to datetime format
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Extract the day of the week from 'pickup_datetime' and create the 'ride_week_day' column
df['ride_week_day'] = df['pickup_datetime'].dt.day_name()

In [124]:
import pandas as pd

# Assuming you have a DataFrame 'df' containing your data

# Convert 'pickup_datetime' to datetime format if not already
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Extract the day of the week and create the 'ride_week_day' column
df['ride_week_day'] = df['pickup_datetime'].dt.day_name()

In [125]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    'pickup_latitude': [40.7128, 40.7128, 40.7128],
    'pickup_longitude': [-74.0060, -74.0060, -74.0060],
    'dropoff_latitude': [40.7328, 40.7228, 40.7428],
    'dropoff_longitude': [-74.0260, -74.0160, -74.0360]
}

df = pd.DataFrame(data)

# Function to calculate Haversine distance
def haversine(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    r = 6371  # Radius of Earth in kilometers
    distance = r * c  # Distance in kilometers

    return distance

# Calculate the 'distance' column using the Haversine formula
df['distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

# Print the DataFrame with the 'distance' column added
print(df)

   pickup_latitude  pickup_longitude  dropoff_latitude  dropoff_longitude  \
0          40.7128           -74.006           40.7328            -74.026
1          40.7128           -74.006           40.7228            -74.016
2          40.7128           -74.006           40.7428            -74.036

   distance
0  2.790416
1  1.395246
2  4.185509

In [126]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score

# Assuming you have a DataFrame 'df' containing your data

# Preprocess categorical variable (encode ride_week_day)
df = pd.get_dummies(df, columns=['ride_week_day'], drop_first=True)

# Split the data into training and testing sets (70-30 split)
X = df[['passenger_count', 'distance'] + [col for col in df.columns if 'ride_week_day_' in col]]
y = df['fare_amount']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize models
models = [
    ('Linear Regression', LinearRegression()),
    ('Decision Tree Regressor', DecisionTreeRegressor(random_state=42)),
    ('Random Forest Regressor', RandomForestRegressor(random_state=42)),
    ('KNN Regressor', KNeighborsRegressor())
]

# Initialize variables to track the algorithm with the least adjusted R-squared value
min_adj_r2 = float('inf')
min_adj_r2_model = None

# Iterate through models and calculate adjusted R-squared values
for model_name, model in models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    r2 = r2_score(y_test, y_pred)
    adj_r2 = 1 - (1 - r2) * (len(y_test) - 1) / (len(y_test) - X_test.shape[1] - 1)

    if adj_r2 < min_adj_r2:
        min_adj_r2 = adj_r2
        min_adj_r2_model = model_name

# Print the algorithm with the least adjusted R-squared value
print("The algorithm with the least adjusted R-squared value:", min_adj_r2_model)

KeyError: ignored

In [127]:
print("Thank_You_Innomatics_Research_labs for conducting the Hackthon")

Thank_You_Innomatics_Research_labs for conducting the Hackthon